[Unit]
Description=OpenGeofiction tile dirtying service for ogf-carto

[Service]
User=luciano
Group=luciano
ExecStart=/opt/opengeofiction/OGF-terrain-tools/bin/expireTiles.sh ogf-carto 5 19
