[Unit]
Description=Forces render of lowzoom tiles, for ogf-carto
RefuseManualStart=no

[Timer]
# run at 11:11 and 23:11
OnCalendar=*-*-* 11,23:11:00
Unit=lowzoom-render-ogfcarto.service

[Install]
WantedBy=timers.target
