[Unit]
Description=OpenGeofiction sync %i data to data.opengeofiction.net

[Service]
User=ogf
Group=ogf
ExecStart=rsync -a --del /opt/opengeofiction/sync-to-ogf/%i/ opengeofiction.net:/var/www/html/data.opengeofiction.net/public_html/%i
