[Unit]
Description=OpenGeofiction sync utility data to data.opengeofiction.net

[Service]
User=ogf
Group=ogf
ExecStart=rsync -a --del /opt/opengeofiction/sync-to-ogf/utility/ opengeofiction.net:/var/www/html/data.opengeofiction.net/public_html/utility
